@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  animation: fadeIn 0.8s ease-in-out forwards;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  transition: background-image 0.8s;
}

body::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.destination-name {
  font-family: 'Anton', sans-serif;
}

/* Zoom effect on hover for the image only */
.zoom-on-hover:hover {
  transform: scale(1.15);
  transition: transform 0.8s ease;
}

/* Stilar för informationssektionen */
#info-section {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrera innehållet vertikalt */
  padding: 1rem;
  overflow-y: auto; /* Lägg till skroll om innehållet är för långt */
}

#info-section.hidden {
  display: none; /* Dölj sektionen när den är tom */
}
#prev-button,
#next-button {
  width: 30px; /* Width of the button */
  height: 30px; /* Height of the button */
  background-color: rgba(255, 255, 255, 0.5); /* Transparent white background */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%); /* Triangle shape */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor on hover */
}

#next-button {
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%); /* Left triangle shape */
  margin-left: 50px;
}

#prev-button {
  clip-path: polygon(100% 0%, 0% 50%, 100% 100%); /* Right triangle shape */
  margin-right: 50px;
}

/* Hover effect for the buttons */
#prev-button:hover,
#next-button:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.7
  ); /* Slightly less transparent on hover */
}
